<div *ngIf="recipe.name !== ''; else non" class="mx-4">
  <div class="row">
    <div class="col-xs-12">
      <img [src]="recipe.image" width="600px" height="400px" />

      <div class="row my-1">
        <div class="col-md-7">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onClick(recipe)"
          >
            Add Ingrediants to shopping list
          </button>
        </div>
        <div class="col-md-5">
          <button type="button" class="btn btn-primary" (click)="navShopping()">
            Go to shopping list
          </button>
        </div>
      </div>

      <p>Name: {{ recipe.name }}</p>
      <p>Discription: {{ recipe.disc }}</p>
      <p>Ingrediants:</p>
      <div class="row" *ngFor="let ingrediant of recipe.ingrediants">
        <div class="col-md-6">
          {{ ingrediant.name }}
        </div>
        <div class="col-md-6">({{ ingrediant.amount }})</div>
      </div>
    </div>
  </div>
</div>
<ng-template #non>
  <p>select any recipe</p>
</ng-template>
